.drop {
  background: linear-gradient(to bottom, rgba(13,52,58,1), rgba(255,255,255,0.5));
  width: 1px;
  height: 89px;
  position: absolute;
  top: -100px;
  animation: fall 0.63s linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}

